p{

    color: white;
    font-size: 24px;
    font-family: "Indie Flower", cursive;
}

body{
   max-width: 800px; 
   margin: auto; 
    
    background-image:url(https://img.freepik.com/darmowe-wektory/gradientowe-czarne-tlo-z-falistymi-liniami_23-2149157314.jpg?size=626&ext=jpg)

}

img{


width: 600px;
border: 5px;
border-style: solid;
color: white;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

  }
  



